# PART1 データを読み込んでみよう
## おまじない
- まずおまじないを書くために、このセルの下に新しいセルを作ろう

## データの読み込み
- データを読み込む前にcase1の中にあるtrain.csvをメモ帳で開いて確かめてみましょう（excelで開くと文字化けします）
- 拡張子のcsvとはカンマで区切られたデータのことです
- 通常、列の頭には列行の内容を示す名前がついています（ない場合もあります）

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

## 早速trainのデータの中身を見てみましょう
- head関数を使います
- 関数は必ずカッコが必要になります

In [2]:
train = pd.read_csv('train.csv')
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
train.head(10)

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1
5,2013-11-25,135,月,1,鶏の唐揚,NaN,NaN,NaN,NaN,曇,--,14.6
6,2013-11-26,145,火,0,豚のスタミナ炒め,NaN,NaN,NaN,NaN,快晴,--,17.9
7,2013-11-27,140,水,1,ボローニャ風カツ,NaN,NaN,NaN,NaN,晴れ,--,14.7
8,2013-11-28,151,木,0,ハンバーグ,NaN,NaN,NaN,NaN,薄曇,--,17.7
9,2013-11-29,116,金,0,タルタルinソーセージカツ,NaN,NaN,NaN,NaN,快晴,--,12.1

## headは先頭行を表示するが、最終行が見たい場合は・・・

In [4]:
train.tail()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
202,2014-9-24,59,水,1,白身魚のマスタード焼き,408.0,NaN,NaN,NaN,曇,0,24.8
203,2014-9-25,50,木,0,牛カルビ焼き肉,394.0,NaN,NaN,NaN,曇,0,25.4
204,2014-9-26,45,金,0,ランチビュッフェ,NaN,スペシャルメニュー（800円）,キャリアアップ支援セミナー,NaN,晴れ,--,27.1
205,2014-9-29,56,月,1,豚肉と玉子の炒め,404.0,NaN,NaN,NaN,快晴,--,26.6
206,2014-9-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,NaN,NaN,NaN,快晴,--,28.1

## 行数と列数を確認したい場合はshapeを使います
- shapeは関数ではないのでカッコはいりません

In [5]:
train.shape

(207, 12)

In [6]:
train.describe()

                y     soldout        kcal  payday  temperature
count  207.000000  207.000000  166.000000    10.0   207.000000
mean    86.623188    0.449275  404.409639     1.0    19.252174
std     32.882448    0.498626   29.884641     0.0     8.611365
min     29.000000    0.000000  315.000000     1.0     1.200000
25%     57.000000    0.000000  386.000000     1.0    11.550000
50%     78.000000    0.000000  408.500000     1.0    19.800000
75%    113.000000    1.000000  426.000000     1.0    26.100000
max    171.000000    1.000000  462.000000     1.0    34.600000

In [7]:
train[(train['week'] == '月') & (train['soldout'] > 0)]

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
5,2013-11-25,135,月,1,鶏の唐揚,NaN,NaN,NaN,NaN,曇,--,14.6
10,2013-12-2,151,月,1,マーボ豆腐,NaN,NaN,NaN,NaN,快晴,--,13.8
15,2013-12-9,165,月,1,ハンバーグデミソース,NaN,NaN,NaN,NaN,曇,--,9.1
36,2014-1-20,126,月,1,ジューシーメンチカツ,375.0,NaN,NaN,NaN,晴れ,--,6.5
41,2014-1-27,126,月,1,チンジャオロース,415.0,NaN,NaN,NaN,快晴,--,5.1
46,2014-2-3,139,月,1,ハンバーグカレーソース,445.0,NaN,NaN,NaN,晴れ,--,15.9
55,2014-2-17,137,月,1,チンジャオロース,416.0,NaN,NaN,NaN,晴れ,--,11.6
60,2014-2-24,129,月,1,ポークハヤシ,408.0,NaN,NaN,NaN,曇,--,6.6
116,2014-5-19,70,月,1,豚肉と茄子のピリ辛炒め,406.0,NaN,キャリアアップ支援セミナー,NaN,曇,--,22.8
121,2014-5-26,77,月,1,鶏のカッシュナッツ炒め,430.0,NaN,NaN,NaN,薄曇,--,23.9
131,2014-6-9,74,月,1,牛肉ニンニクの芽炒め,417.0,NaN,NaN,NaN,雨,0,25.0
136,2014-6-16,76,月,1,牛すき焼き風,440.0,NaN,NaN,NaN,薄曇,--,28.1
151,2014-7-7,82,月,1,和風ハンバーグ,354.0,NaN,NaN,NaN,雨,0.5,24.0
156,2014-7-14,65,月,1,鶏のから揚げねぎ塩炒めソース,418.0,NaN,NaN,NaN,薄曇,0,30.9
165,2014-7-28,65,月,1,豚肉のマスタード焼き,432.0,NaN,NaN,NaN,晴れ,--,28.9
170,2014-8-4,75,月,1,ハンバーグ（デミきのこバター）,410.0,NaN,NaN,NaN,曇,--,32.7
187,2014-9-1,65,月,1,ビーフシチュー,380.0,NaN,NaN,NaN,曇,--,23.4
192,2014-9-8,68,月,1,鶏肉の山賊焼き,385.0,NaN,NaN,NaN,曇,--,23.1
205,2014-9-29,56,月,1,豚肉と玉子の炒め,404.0,NaN,NaN,NaN,快晴,--,26.6

# 実習

1.test.csvの変数名をtestとして、sample.csvの変数名をsampleとして読み込んでみよう
- ファイル名を書く時はダブルクォーテーションを忘れないようにしよう

In [30]:
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample.csv')

2.testは何行何列ありますか？

In [31]:
test.shape

(40, 11)

3.testの3行目のメニューはなんでしょう？

In [33]:
test.head()

,datetime,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2014-10-1,水,1,メンチカツ,420.0,NaN,NaN,NaN,雨,0,20.2
1,2014-10-2,木,0,バーベキューチキン,415.0,NaN,NaN,NaN,曇,--,23.9
2,2014-10-3,金,0,豚肉のマスタード焼き,405.0,NaN,NaN,NaN,晴れ,--,28.7
3,2014-10-6,月,1,麻婆春雨,400.0,NaN,NaN,NaN,雨,0.5,21.5
4,2014-10-7,火,0,厚揚げ肉みそ炒め,430.0,NaN,NaN,NaN,晴れ,--,22.1

4.testの10行目まで見たい。どうしたらいいか考えてみよう

In [34]:
test.head(10)

,datetime,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2014-10-1,水,1,メンチカツ,420.0,NaN,NaN,NaN,雨,0,20.2
1,2014-10-2,木,0,バーベキューチキン,415.0,NaN,NaN,NaN,曇,--,23.9
2,2014-10-3,金,0,豚肉のマスタード焼き,405.0,NaN,NaN,NaN,晴れ,--,28.7
3,2014-10-6,月,1,麻婆春雨,400.0,NaN,NaN,NaN,雨,0.5,21.5
4,2014-10-7,火,0,厚揚げ肉みそ炒め,430.0,NaN,NaN,NaN,晴れ,--,22.1
5,2014-10-8,水,0,完熟トマトのホットカレー,420.0,NaN,NaN,NaN,晴れ,--,23.3
6,2014-10-9,木,0,豚キムチ炒め,435.0,NaN,キャリアアップ支援セミナー,NaN,曇,--,22.5
7,2014-10-10,金,0,ポークカレー,NaN,お楽しみメニュー,NaN,1.0,薄曇,--,26.1
8,2014-10-14,火,0,若鶏梅肉包揚げ,408.0,NaN,NaN,NaN,快晴,--,26.8
9,2014-10-15,水,1,ミックスグリル,450.0,料理長のこだわりメニュー,NaN,NaN,雨,1.5,15.6

5.sampleはこのままではちょっとおかしい部分がある。どこがおかしいか？

In [35]:
sample.head()

   2014-10-1  24
0  2014-10-2  71
1  2014-10-3  25
2  2014-10-6  32
3  2014-10-7  60
4  2014-10-8  44